<!-- Title -->
<title>{{ if .Title }}{{ .Title }} |{{ end }}{{ .Site.Title }}</title>

<!-- Meta Description -->
<meta
  name="description"
  content="{{ if .Description }}
    {{ .Description }}
  {{ else }}
    {{ .Site.Params.description }}
  {{ end }}
  " />

<!-- Meta Keywords -->
<meta
  name="keywords"
  content="{{ if .Params.tags }}
    {{ delimit .Params.tags ", " }}
  {{ else }}
    music, code, blog, FretTime, practice app
  {{ end }}
  " />

<!-- Author -->
<meta name="author" content="{{ .Site.Params.author }}" />

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Article Type Logic for enhanced OG tags -->
{{ $isArticle := false }}
{{ if eq .Section "blog" }}
  {{ $isArticle = true }}
{{ end }}


<!-- Open Graph / Facebook -->
{{ if $isArticle }}
  <meta property="og:type" content="article" />
{{ else }}
  <meta property="og:type" content="website" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta
  property="og:locale"
  content="{{ .Site.Language.Lang | default "en_US" }}" />
<meta
  property="og:title"
  content="{{ if .Title }}{{ .Title }} |{{ end }}{{ .Site.Title }}" />
<meta
  property="og:description"
  content="{{ if .Description }}
    {{ .Description }}
  {{ else }}
    {{ .Site.Params.description }}
  {{ end }}
  " />

<!-- Open Graph Image Properties -->
<!-- prettier-ignore -->
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.default_image | absURL }}{{ end }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/png" />
<!-- prettier-ignore -->
<meta property="og:image:alt" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }}{{ end }}" />

{{ if $isArticle }}
  <!-- Article-specific Open Graph -->
  {{ if .Date }}
    <meta
      property="article:published_time"
      content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{ end }}
  {{ if .Lastmod }}
    <meta
      property="article:modified_time"
      content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{ end }}
  {{ if .Site.Params.author }}
    <meta property="article:author" content="{{ .Site.Params.author }}" />
  {{ end }}
  {{ if .Params.tags }}
    {{ range .Params.tags }}
      <meta property="article:tag" content="{{ . }}" />
    {{ end }}
  {{ end }}
  {{ if .Params.categories }}
    {{ range .Params.categories }}
      <meta property="article:section" content="{{ . }}" />
    {{ end }}
  {{ end }}
{{ end }}


<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta
  name="twitter:title"
  content="{{ if .Title }}{{ .Title }} |{{ end }}{{ .Site.Title }}" />
<meta
  name="twitter:description"
  content="{{ if .Description }}
    {{ .Description }}
  {{ else }}
    {{ .Site.Params.description }}
  {{ end }}" />
<!-- prettier-ignore -->
<meta name="twitter:image" content="{{- if .Params.image -}}{{ .Params.image | absURL }}{{- else -}}{{ .Site.Params.default_image | absURL }}{{- end -}}" />
<!-- <meta
  name="twitter:image"
  content="{{ if .Params.image }}
  {{ .Params.image | absURL }}
{{ else }}
  {{ .Site.Params.default_image | absURL }}
{{ end }}" /> -->
<meta name="twitter:site" content="{{ .Site.Params.twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitter_site }}" />

<!-- Additional SEO Meta Tags -->
<meta name="theme-color" content="#9333ea" />
<meta name="application-name" content="{{ .Site.Title }}" />

<!-- Robots Meta -->
{{ if .Params.draft }}
  <meta name="robots" content="noindex, nofollow" />
{{ else }}
  <meta
    name="robots"
    content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
{{ end }}


<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ if $isArticle }}"BlogPosting"{{ else }}"WebSite"{{ end }},
  "headline": "{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}",
  "description": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}",
  "url": "{{ .Permalink }}",
  {{ if or .Params.image .Site.Params.default_image }}"image": "{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.default_image | absURL }}{{ end }}",{{ end }}
  {{ if $isArticle }}
  "datePublished": {{ if .Date }}"{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"{{ else }}null{{ end }},
  "dateModified": {{ if .Lastmod }}"{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"{{ else if .Date }}"{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"{{ else }}null{{ end }},
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}"
  },
  {{ if .Params.tags }}
  "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}],
  {{ end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{ else }}
  "name": "{{ .Site.Title }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
  {{ end }}
}
</script> {{/* Additional structured data for homepage */}}
{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Site.Params.author }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}",
  "sameAs": [
    {{ if .Site.Params.social }}
    {{ range $i, $social := .Site.Params.social }}
    {{ if $i }},{{ end }}
    "{{ $social.link }}"
    {{ end }}
    {{ end }}
  ]
}
</script>
{{ end }}
